html, body {
    height: 100%;
}

body {
    background: #fff url('http://shopblender.s3.amazonaws.com/workspaces/1/themes/2/assets/images/bg.jpg') center top fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1 {
    margin-top: 0;
}

h2 {
    display: block;
    margin-bottom: 20px;
    padding: 2px 8px;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    background: #7649C2;
}

.main-container {
    min-height: 100%;
    background: #fff;
}

.header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding: 15px 0;
}

.header nav {
    float: right;
    margin-top: 40px;
}

.header nav ul {
    margin: 0 -6px;
}

.header nav ul > li {
    border: 1px solid #eee;
    margin: 0 6px;
}

.header nav ul > li a {
    color: #000;
}

.header nav ul > li a:hover {
    border-radius: 0;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
}

.product-list {
    padding: 0;
    list-style: none;
}

.product-price {
    font-size: 48px;
    font-family: Georgia;
    font-weight: bold;
    color: #777;
    margin-bottom: 10px;
}

.footer-links h3 {
    margin-top: 0px;
}

.footer-links ul {
    padding: 0;
    list-style: none;
    background: #eee;
    padding: 20px;
    color: #000;
}

.footer-links ul li a {
    color: #fff;
}

.collection-item {
    display: block;
    padding: 20px;
    border: 2px solid transparent;
}

.collection-item:hover {
    border: 2px solid #eee;
}

.collection-item .image {
    position: relative;
    display: block;
}

.collection-item .image .price {
    position: absolute;
    bottom: 10%;
    right: -12px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    line-height: 70px;
    background: #7649C2;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.block-voordelen table, .block-voordelen table td {
    border: none !important;
}

.block-voordelen table td {
    width: 50%;
}

.side-promotions h2 {
    background: none;
    margin: 0 0 10px 0;
    padding: 0;
    color: #7649C2;
}

.side-promotions .cmf-block {
    margin-bottom: 15px;
}

.media .thumbnails {
    display: block;
    margin-top: 10px;
}

.btn-primary, .btn-success {
    background-color: #7649C2;
    border-color: #6a38c2;
}

.btn-primary:hover, .btn-success:hover {
    background-color: #662ec2;
    border-color: #5918c2;
}